# Данные базы данных
qdrant_data/

# Окружение Python
venv/
.venv/
__pycache__/
*.py[cod]

# Настройки IDE (PyCharm)
.idea/

# Секретные переменные
.env

# Игнорируем всё содержимое папки result внутри chunks
chunks/result/*
# Оставляем саму папку в репозитории (необязательно, но полезно)
!chunks/result/.gitkeep